<div class="flex-1 flex flex-row items-stretch">
    <div id="renderViewContainer" class="flex-4 bg-black flex items-stretch">
        <svg class="flex-1 h-full cursor-crosshair" id="renderView">
            <!-- @for (element of elements(); track element.id) {
                @switch (element.type.toLowerCase()) {
                    @case ("square") {
                        <polygon wad-square [element]="element" (elementClick)="elementClick($event)"></polygon>
                    }
                    @case ("triangle") {
                        <polygon wad-triangle [element]="element" (elementClick)="elementClick($event)"></polygon>
                    }
                    @case ("circle") {
                        <circle wad-circle [element]="element" (elementClick)="elementClick($event)"></circle>
                    }
                    @default {
                        <text x="10" y="10">Unable to render element {{ element.id }} with type {{ element.type }}.</text>
                    }
                }
            } -->
        </svg>
    </div>
    <div class="flex-1 bg-gray-600">
        <app-render-view-sidebar></app-render-view-sidebar>
    </div>
</div>
<app-render-view-status></app-render-view-status>