<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="flex-1 flex flex-row items-stretch">
  <div id="renderViewContainer" class="flex-4 bg-black flex items-stretch overflow-hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      render-view-canvas
      class="flex-1 h-full"
      [ngClass]="isPanning() ? 'cursor-grab' : 'cursor-crosshair'"
      id="renderView"
      [origin]="origin$()"
      [area]="area$()"
      (pointermove)="pointermove($event)"
      (pointerdown)="pointerdown()"
      (pointerup)="pointerup()"
      (wheel)="wheel($event)"
      (click)="click($event)"
      [attr.transform]="`scale(${this.scale$()}, ${this.scale$()})`"
    >
      <defs>
        @let gridSize = 10;
        @let gridDotSize = 2;
        @let gridColor = 'rgba(255, 255, 255, 0.125)';
        <pattern
          id="dot-grid"
          patternUnits="userSpaceOnUse"
          x="0"
          y="0"
          [attr.width]="gridSize"
          [attr.height]="gridSize"
        >
          <rect
            [attr.width]="gridDotSize"
            [attr.height]="gridDotSize"
            [attr.x]="gridSize / 2 - gridDotSize / 2"
            [attr.y]="gridSize / 2 - gridDotSize / 2"
            [attr.fill]="gridColor"
          ></rect>
        </pattern>

        <marker
          id="arrow"
          viewBox="0 0 10 10"
          refX="5"
          refY="5"
          markerWidth="6"
          markerHeight="6"
          orient="auto-start-reverse"
        >
          <path d="M 0 0 L 10 5 L 0 10 z" fill="rgb(128, 128, 128)" />
        </marker>
      </defs>

      <rect fill="url(#dot-grid)" x="-200%" y="-200%" width="400%" height="400%"></rect>

      <g fill="rgb(128, 128, 128)" stroke="rgb(128, 128, 128)">
        <line
          wad-system-line
          [x1]="0"
          [y1]="renderService.translateCoordinateY(0)"
          [x2]="0"
          [y2]="renderService.translateCoordinateY(100)"
          stroke-width="2"
          marker-end="url(#arrow)"
        />
        <text wad-system-text [x]="0" [y]="renderService.translateCoordinateY(0 + 120)">y</text>

        <line
          wad-system-line
          [x1]="0"
          [y1]="renderService.translateCoordinateY(0)"
          [x2]="100"
          [y2]="renderService.translateCoordinateY(0)"
          stroke-width="2"
          marker-end="url(#arrow)"
        />
        <text wad-system-text [x]="120" [y]="renderService.translateCoordinateY(0)">x</text>
      </g>

      <g appWadElements>
        @for (entry of elements(); track entry[1].id) {
          @let model = entry[1];
          @switch (model.type.toLowerCase()) {
            @case ('rectangle') {
              <polygon
                wad-rectangle
                [elementModel]="model"
                (elementClick)="elementClick($event)"
              ></polygon>
            }
            @case ('triangle') {
              <polygon
                wad-triangle
                [elementModel]="model"
                (elementClick)="elementClick($event)"
              ></polygon>
            }
            @case ('circle') {
              <circle
                wad-circle
                [elementModel]="model"
                (elementClick)="elementClick($event)"
              ></circle>
            }
            @case ('line') {
              <polyline
                wad-polyline
                [elementModel]="model"
                (elementClick)="elementClick($event)"
              ></polyline>
            }
          }
        }
      </g>
    </svg>
  </div>
  <!-- <div class="flex-1 bg-gray-600 overflow-y-auto">
    <app-render-view-sidebar></app-render-view-sidebar>
  </div> -->
</div>
<app-render-view-status></app-render-view-status>
