:host {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  position: fixed;

  bottom: 10%;
  left: 0;
  right: 0;

  min-height: 20px;
  max-height: 20%;

  z-index: 100;

  pointer-events: none;

  transition:
    opacity 250ms,
    height 500ms;

  .command-input-container {
    pointer-events: all;
  }
}

:host:not(.active) {
  opacity: 0.66;
}

:host.error > input {
  border-color: red;
}
