:host {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  position: fixed;

  bottom: 10%;
  left: 20%;
  right: 20%;

  min-height: 20px;
  max-height: 20%;

  z-index: 100;

  transition: opacity 250ms;
}

:host:not(.active) {
  opacity: 0.5;
}