:host {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  position: fixed;

  bottom: 10%;
  left: 0;
  right: 0;

  min-height: 20px;
  max-height: 80%;
  overflow-y: auto;

  z-index: 100;

  pointer-events: none;

  transition:
    opacity 250ms,
    height 500ms;

  &:not(.active) {
    opacity: 0.5;
  }

  .command-input-container {
    pointer-events: all;
  }

  .command-input-text {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    outline: none;

    font-size: 0.85rem;
  }
}
