<div id="renderViewContainer" class="flex-1 bg-black flex items-stretch">
    <svg class="flex-1 h-full" id="renderView">
        @for (element of elements(); track element.id) {
            <!-- <ng-container
                *ngComponentOutlet="getElementComponent(element); inputs: getElementComponentInputs(element)">
            </ng-container> -->
            @switch (element.type.toLowerCase()) {
                @case ("square") {
                    <!-- <wad-square [element]="element"></wad-square> -->
                    <rect x="10" y="10" width="10" height="10" stroke="white" (click)="onElementClick(element)"></rect>
                }
                @default {
                    <wad-error [element]="element"></wad-error>
                }
            }
        }
    </svg>
</div>