/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Temporärt medan migration till Material sker.
@use 'tailwindcss';

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        secondary: mat.$blue-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
